In [2]:
# import pandas 
import pandas as pd

# import dataset
df = pd.read_csv(r"C:\Users\Nadia\Desktop\UNI\3179\current sem\Assignment 2\datasets\not cleaned yet\natural-disasters (updated).csv")

df.head()

,Year,Entity,Number of people affected from drought,Number of people left homeless from drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Reconstruction costs from earthquakes,...,Insured damages against wildfires,Total economic damages from wildfires,Total economic damages from disasters as a share of GDP,Total economic damages from drought as a share of GDP,Total economic damages from earthquakes as a share of GDP,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP
0,1950,Afghanistan,0.0,0,NaN,NaN,NaN,0.0,200.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1960,Afghanistan,4800.0,0,0.0,0.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.001420,0.00142,0.0,0.0,0.000000,0.0,0.0,0.0
2,1970,Afghanistan,0.0,0,0.0,0.0,0.0,0.0,9001.5,0.0,...,0.0,0.0,0.157576,0.00000,0.0,0.0,0.157576,0.0,0.0,0.0
3,1980,Afghanistan,0.0,0,0.0,0.0,0.0,658.0,7253.8,0.0,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0
4,1990,Afghanistan,0.0,0,0.0,0.0,0.0,7702.5,35229.3,0.0,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0

In [3]:
df.dropna()

,Year,Entity,Number of people affected from drought,Number of people left homeless from drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Reconstruction costs from earthquakes,...,Insured damages against wildfires,Total economic damages from wildfires,Total economic damages from disasters as a share of GDP,Total economic damages from drought as a share of GDP,Total economic damages from earthquakes as a share of GDP,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP
1,1960,Afghanistan,4800.0,0,0.0,0.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.001420,0.001420,0.000000,0.0,0.000000,0.0,0.000000,0.0
2,1970,Afghanistan,0.0,0,0.0,0.0,0.0,0.0,9001.5,0.0,...,0.0,0.0,0.157576,0.000000,0.000000,0.0,0.157576,0.0,0.000000,0.0
3,1980,Afghanistan,0.0,0,0.0,0.0,0.0,658.0,7253.8,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
4,1990,Afghanistan,0.0,0,0.0,0.0,0.0,7702.5,35229.3,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
5,2000,Afghanistan,476000.0,0,0.0,0.0,5.0,1569.5,10794.7,0.0,...,0.0,0.0,0.024212,0.000000,0.000081,0.0,0.016078,0.0,0.008053,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,1970,Zimbabwe,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
1600,1980,Zimbabwe,0.0,0,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.001248,0.001248,0.000000,0.0,0.000000,0.0,0.000000,0.0
1601,1990,Zimbabwe,505500.0,0,0.0,0.0,5000.0,0.0,0.0,0.0,...,0.0,0.0,0.056923,0.056923,0.000000,0.0,0.000000,0.0,0.000000,0.0
1602,2000,Zimbabwe,810000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.465736,0.000000,0.000000,0.0,0.463468,0.0,0.002268,0.0
1603,2010,Zimbabwe,1286761.8,0,0.0,0.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.371556,0.261903,0.000000,0.0,0.010259,0.0,0.099393,0.0

In [4]:
# Only keep records of incidents that take place from 2000 above
df = df[df['Year'] >= 1970]
df

,Year,Entity,Number of people affected from drought,Number of people left homeless from drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Reconstruction costs from earthquakes,...,Insured damages against wildfires,Total economic damages from wildfires,Total economic damages from disasters as a share of GDP,Total economic damages from drought as a share of GDP,Total economic damages from earthquakes as a share of GDP,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP
2,1970,Afghanistan,0.0,0,0.0,0.0,0.0,0.0,9001.5,0.0,...,0.0,0.0,0.157576,0.000000,0.000000,0.0,0.157576,0.000000,0.000000,0.0
3,1980,Afghanistan,0.0,0,0.0,0.0,0.0,658.0,7253.8,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
4,1990,Afghanistan,0.0,0,0.0,0.0,0.0,7702.5,35229.3,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
5,2000,Afghanistan,476000.0,0,0.0,0.0,5.0,1569.5,10794.7,0.0,...,0.0,0.0,0.024212,0.000000,0.000081,0.0,0.016078,0.000000,0.008053,0.0
6,2010,Afghanistan,1525000.0,0,0.0,0.0,14200.0,3627.5,9797.0,0.0,...,0.0,0.0,0.082728,0.079756,0.000000,0.0,0.001464,0.001507,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,1970,Zimbabwe,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
1600,1980,Zimbabwe,0.0,0,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.001248,0.001248,0.000000,0.0,0.000000,0.000000,0.000000,0.0
1601,1990,Zimbabwe,505500.0,0,0.0,0.0,5000.0,0.0,0.0,0.0,...,0.0,0.0,0.056923,0.056923,0.000000,0.0,0.000000,0.000000,0.000000,0.0
1602,2000,Zimbabwe,810000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.465736,0.000000,0.000000,0.0,0.463468,0.000000,0.002268,0.0
1603,2010,Zimbabwe,1286761.8,0,0.0,0.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.371556,0.261903,0.000000,0.0,0.010259,0.000000,0.099393,0.0

In [5]:
df = df.sort_values(by='Year')

,Year,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Reconstruction costs from earthquakes,Insured damages against earthquakes,Total economic damages from earthquakes,Reconstruction costs from storms,Insured damages against storms,Total economic damages from storms
2,1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000,1970,0.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.0
1373,1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
567,1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0
1007,1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1188,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26780.0,38550.0
425,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12300.0
1176,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28090.0
1166,2010,0.0,0.0,8439.9,530.0,2000.0,13919.9,0.0,70000.0,1624455.9
1603,2010,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,18900.0

In [373]:
reconstruction = df.groupby('Year')[['Reconstruction costs from earthquakes']].sum().reset_index()
insured = df.groupby('Year')[['Insured damages against earthquakes']].sum().reset_index()
econ = df.groupby('Year')[['Total economic damages from earthquakes']].sum().reset_index()

In [374]:
earthquake = reconstruction.set_index('Year').join(insured.set_index('Year'), how = 'inner').join(econ.set_index('Year'), how='inner')
earthquake = earthquake.reset_index()
earthquake

,Year,Reconstruction costs from earthquakes,Insured damages against earthquakes,Total economic damages from earthquakes
0,1970,0.0,54800.0,6782422.0
1,1980,0.0,296400.0,21171728.8
2,1990,14000000.0,6756760.0,77950524.8
3,2000,2080000.0,1864416.4,69666492.4
4,2010,6579720.0,31783520.0,148237052.4

In [375]:
reconstruction = df.groupby('Year')[['Number of total people affected by storms']].sum().reset_index()
insured = df.groupby('Year')[['Insured damages against storms']].sum().reset_index()
econ = df.groupby('Year')[['Total economic damages from storms']].sum().reset_index()

In [376]:
storms = reconstruction.set_index('Year').join(insured.set_index('Year'), how = 'inner').join(econ.set_index('Year'), how='inner')
storms = storms.reset_index()
storms

,Year,Number of total people affected by storms,Insured damages against storms,Total economic damages from storms
0,1970,21015869.2,0.0,6583356.8
1,1980,56559966.8,2260280.0,19334928.4
2,1990,89626638.8,39294720.0,87524917.6
3,2000,158891613.6,81983120.0,186705023.6
4,2010,132076342.0,106287889.6,296496545.6

In [377]:
reconstruction = df.groupby('Year')[['Number of total people affected by floods']].sum().reset_index()
insured = df.groupby('Year')[['Insured damages against floods']].sum().reset_index()
econ = df.groupby('Year')[['Total economic damages from floods']].sum().reset_index()

In [378]:
floods = reconstruction.set_index('Year').join(insured.set_index('Year'), how = 'inner').join(econ.set_index('Year'), how='inner')
floods = floods.reset_index()
floods

,Year,Number of total people affected by floods,Insured damages against floods,Total economic damages from floods
0,1970,87528497.6,0.0,3364051.6
1,1980,187006848.8,236840.0,16438905.2
2,1990,574613646.0,3330880.0,84128851.2
3,2000,380600056.0,9821600.0,66449604.8
4,2010,277716547.2,18755146.4,156722610.0

In [379]:
reconstruction = df.groupby('Year')[['Number of people affected from drought']].sum().reset_index()
insured = df.groupby('Year')[['Insured damages against drought']].sum().reset_index()
econ = df.groupby('Year')[['Total economic damages from drought']].sum().reset_index()

In [380]:
droughts = reconstruction.set_index('Year').join(insured.set_index('Year'), how = 'inner').join(econ.set_index('Year'), how='inner')
droughts = droughts.reset_index()
droughts

,Year,Number of people affected from drought,Insured damages against drought,Total economic damages from drought
0,1970,105376754.0,0.0,2438200.0
1,1980,237418550.4,0.0,6250896.4
2,1990,125285409.2,0.0,15892095.6
3,2000,300926685.2,0.0,9364683.2
4,2010,269931926.8,8381600.0,36513547.2

In [381]:
reconstruction = df.groupby('Year')[['Number of total people affected by wildfires']].sum().reset_index()
insured = df.groupby('Year')[['Insured damages against wildfires']].sum().reset_index()
econ = df.groupby('Year')[['Total economic damages from wildfires']].sum().reset_index()

In [382]:
wildfires = reconstruction.set_index('Year').join(insured.set_index('Year'), how = 'inner').join(econ.set_index('Year'), how='inner')
wildfires = wildfires.reset_index()
wildfires

,Year,Number of total people affected by wildfires,Insured damages against wildfires,Total economic damages from wildfires
0,1970,16880.0,0.0,55940.0
1,1980,126377.6,0.0,2092397.6
2,1990,1350701.6,505000.0,7653297.6
3,2000,855988.8,2812200.0,8976986.8
4,2010,4501849.6,14697200.0,24288888.0

In [383]:
reconstruction = df.groupby('Year')[['Number of total people affected by volcanic activity']].sum().reset_index()
insured = df.groupby('Year')[['Insured damages against volcanic activity']].sum().reset_index()
econ = df.groupby('Year')[['Total economic damages from volcanic activity']].sum().reset_index()

In [384]:
volcanic = reconstruction.set_index('Year').join(insured.set_index('Year'), how = 'inner').join(econ.set_index('Year'), how='inner')
volcanic = volcanic.reset_index()
volcanic

,Year,Number of total people affected by volcanic activity,Insured damages against volcanic activity,Total economic damages from volcanic activity
0,1970,147334.8,0.0,19751.6
1,1980,261196.0,0.0,924876.0
2,1990,816510.4,0.0,152284.0
3,2000,580673.6,0.0,71147.6
4,2010,1427050.8,0.0,703425.6

In [385]:
combined = earthquake.set_index('Year').join(floods.set_index('Year'), how = 'inner').join(storms.set_index('Year'), how='inner')
combined = combined.reset_index()

In [386]:
semifinal = combined.set_index('Year').join(droughts.set_index('Year'), how = 'inner').join(wildfires.set_index('Year'),how = 'inner')
semifinal = semifinal.reset_index()

In [387]:
final = combined.set_index('Year').join(volcanic.set_index('Year'), how = 'inner')
final = final.reset_index()
final

,Year,Reconstruction costs from earthquakes,Insured damages against earthquakes,Total economic damages from earthquakes,Number of total people affected by floods,Insured damages against floods,Total economic damages from floods,Number of total people affected by storms,Insured damages against storms,Total economic damages from storms,Number of total people affected by volcanic activity,Insured damages against volcanic activity,Total economic damages from volcanic activity
0,1970,0.0,54800.0,6782422.0,87528497.6,0.0,3364051.6,21015869.2,0.0,6583356.8,147334.8,0.0,19751.6
1,1980,0.0,296400.0,21171728.8,187006848.8,236840.0,16438905.2,56559966.8,2260280.0,19334928.4,261196.0,0.0,924876.0
2,1990,14000000.0,6756760.0,77950524.8,574613646.0,3330880.0,84128851.2,89626638.8,39294720.0,87524917.6,816510.4,0.0,152284.0
3,2000,2080000.0,1864416.4,69666492.4,380600056.0,9821600.0,66449604.8,158891613.6,81983120.0,186705023.6,580673.6,0.0,71147.6
4,2010,6579720.0,31783520.0,148237052.4,277716547.2,18755146.4,156722610.0,132076342.0,106287889.6,296496545.6,1427050.8,0.0,703425.6

In [389]:
df_to_csv = final.to_csv(r"C:\Users\Nadia\Desktop\UNI\3179\current sem\Assignment 2\datasets\cleaned\natural-disasters(updated).csv", index = False)