In [3]:
# import pandas 
import pandas as pd

# import dataset
df = pd.read_csv(r"C:\Users\Nadia\Desktop\UNI\3179\current sem\Assignment 2\datasets\not cleaned yet\internal_displacement.csv")

df.head()

,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Type
0,Abyei Area,2018,Abyie: Flood - 01/07/2018,2018-07-01T00:00:00Z,2,Flood
1,Abyei Area,2019,Abyei: Flood - southern parts - 01/06/2019,2019-06-01T00:00:00Z,40000,Flood
2,Afghanistan,2008,NaN,2008-04-17T00:00:00Z,3300,Earthquake
3,Afghanistan,2008,NaN,2008-08-01T00:00:00Z,180,Flood
4,Afghanistan,2009,2009-000080,2009-01-01T00:00:00Z,25000,Flood

In [4]:
# check if there is any null values in columns
df.isnull().sum()

Country / Territory                  0
Year                                 0
Event Name                         495
Date of event (start)                0
Disaster Internal Displacements      0
Hazard Type                          3
dtype: int64

In [5]:
df = df[df['Hazard Type'].notna()]
df

,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Type
0,Abyei Area,2018,Abyie: Flood - 01/07/2018,2018-07-01T00:00:00Z,2,Flood
1,Abyei Area,2019,Abyei: Flood - southern parts - 01/06/2019,2019-06-01T00:00:00Z,40000,Flood
2,Afghanistan,2008,NaN,2008-04-17T00:00:00Z,3300,Earthquake
3,Afghanistan,2008,NaN,2008-08-01T00:00:00Z,180,Flood
4,Afghanistan,2009,2009-000080,2009-01-01T00:00:00Z,25000,Flood
...,...,...,...,...,...,...
11135,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,1100,Storm
11136,Zimbabwe,2021,Zimbabwe: Hailstorm - Manicaland (Mutare Rural...,2021-11-01T00:00:00Z,330,Storm
11137,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,270,Storm
11138,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Storm
11139,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Storm

In [6]:

df = df.groupby(['Country / Territory', 'Hazard Type'])[['Disaster Internal Displacements']].sum().reset_index()
df

    Country / Territory          Hazard Type  Disaster Internal Displacements
0            Abyei Area                Flood                            40002
1           Afghanistan              Drought                           378220
2           Afghanistan    Dry mass movement                              595
3           Afghanistan           Earthquake                            78024
4           Afghanistan  Extreme temperature                             8228
..                  ...                  ...                              ...
667              Zambia    Wet Mass Movement                              150
668            Zimbabwe                Flood                            73383
669            Zimbabwe                Storm                            60800
670            Zimbabwe    Wet Mass Movement                               12
671            Zimbabwe             Wildfire                               16

[672 rows x 3 columns]

In [7]:
df.rename(columns = {'Country / Territory':'Country'}, {'Hazard Type':'Disaster'}, inplace = True)
df

SyntaxError: positional argument follows keyword argument (<ipython-input-7-86805196678c>, line 1)

In [8]:
df = df[(df['Hazard Type'] == 'Flood') | (df['Hazard Type'] == 'Storm') | (df['Hazard Type'] == 'Earthquake') |
       (df['Hazard Type'] == 'Wildfire') | (df['Hazard Type'] == 'Drought') | (df['Hazard Type'] == 'Volcanic eruption')   ]

df

    Country / Territory Hazard Type  Disaster Internal Displacements
0            Abyei Area       Flood                            40002
1           Afghanistan     Drought                           378220
3           Afghanistan  Earthquake                            78024
5           Afghanistan       Flood                           403899
6           Afghanistan       Storm                              401
..                  ...         ...                              ...
665              Zambia       Flood                           102308
666              Zambia       Storm                              468
668            Zimbabwe       Flood                            73383
669            Zimbabwe       Storm                            60800
671            Zimbabwe    Wildfire                               16

[524 rows x 3 columns]

In [9]:
df_to_csv = df.to_csv(r"C:\Users\Nadia\Desktop\UNI\3179\current sem\Assignment 2\datasets\cleaned\internal_displacement(cleaned).csv", index = False)