In [2]:
# import pandas 
import pandas as pd

# import dataset
df = pd.read_csv(r"C:\Users\Nadia\Desktop\UNI\3179\current sem\Assignment 2\Natural Disasters Datasets\not cleaned yet\tsunami_dataset.csv")

df.head()

,YEAR,MONTH,LATITUDE,LONGITUDE,LOCATION_NAME,COUNTRY,EVENT_VALIDITY,EQ_MAGNITUDE,EQ_DEPTH,TS_INTENSITY,DAMAGE_TOTAL_DESCRIPTION,DEATHS_TOTAL_DESCRIPTION
0,-330,NaN,40.00,25.000,"E. SPORADES ISLANDS, AEGEAN ISLANDS",GREECE,Very Doubtful Tsunami,7.0,NaN,NaN,NaN,NaN
1,1764,2.0,51.45,-2.583,"BRISTOL, ENGLAND",UK,Very Doubtful Tsunami,NaN,NaN,NaN,NaN,NaN
2,859,NaN,36.08,36.250,SAMANDAGI,TURKEY,Questionable Tsunami,NaN,NaN,3.0,NaN,NaN
3,1580,1.0,40.00,128.000,YELLOW SEA,NORTH KOREA,Very Doubtful Tsunami,NaN,NaN,1.0,NaN,NaN
4,-1300,NaN,39.96,26.240,"IONIAN COASTS, TROAD",TURKEY,Questionable Tsunami,6.0,NaN,5.0,NaN,NaN

In [3]:
# check if there is any null values in columns
df.isnull().sum()

YEAR                           0
MONTH                        104
LATITUDE                       0
LONGITUDE                      0
LOCATION_NAME                  9
COUNTRY                        0
EVENT_VALIDITY                 0
EQ_MAGNITUDE                 785
EQ_DEPTH                    1352
TS_INTENSITY                1158
DAMAGE_TOTAL_DESCRIPTION    1204
DEATHS_TOTAL_DESCRIPTION    1585
dtype: int64

In [7]:
df = df.loc[(df['EVENT_VALIDITY'] == "Probable Tsunami") | (df['EVENT_VALIDITY'] == "Definite Tsunami")]
df = df.loc[ (df['YEAR'] > 0) & (df['YEAR'] >=1900)]
df

,YEAR,MONTH,LATITUDE,LONGITUDE,LOCATION_NAME,COUNTRY,EVENT_VALIDITY,EQ_MAGNITUDE,EQ_DEPTH,TS_INTENSITY,DAMAGE_TOTAL_DESCRIPTION,DEATHS_TOTAL_DESCRIPTION
587,1907,9.0,59.500,-135.500,"SKAGWAY, AK",USA,Probable Tsunami,5.5,33.0,0.0,Limited (<$1 million),NaN
591,1922,1.0,-7.111,143.530,BISMARCK SEA,PAPUA NEW GUINEA,Probable Tsunami,6.9,33.0,NaN,Limited (<$1 million),NaN
592,1901,3.0,36.000,-120.500,"MONTEREY BAY, N. CALIFORNIA",USA,Probable Tsunami,6.7,NaN,NaN,NaN,NaN
608,1915,8.0,38.500,20.700,IONIAN SEA,GREECE,Probable Tsunami,6.7,14.0,3.0,Severe (~>$5 to $24 million),NaN
611,1901,6.0,39.000,143.000,"IWATE, JAPAN",JAPAN,Definite Tsunami,6.0,33.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2252,2020,5.0,34.205,25.712,CRETE,GREECE,Definite Tsunami,6.6,17.0,NaN,NaN,NaN
2254,2020,7.0,55.030,-158.522,"SHUMAGIN ISLANDS, AK",USA,Definite Tsunami,7.8,28.0,NaN,NaN,NaN
2255,2020,6.0,-33.294,-177.838,"S OF RAOUL ISLAND, KERMADEC ISLANDS",NEW ZEALAND,Definite Tsunami,7.4,10.0,NaN,NaN,NaN
2256,2013,4.0,18.081,-102.182,MEXICO,MEXICO,Probable Tsunami,6.0,30.0,NaN,NaN,NaN
2258,2020,6.0,16.029,-95.901,OFF OF COAST OF OAXACA,MEXICO,Definite Tsunami,7.4,26.0,NaN,Extreme (~$25 million or more),Few (~1 to 50 people)

In [8]:
df = df[df['EQ_MAGNITUDE'].notna()]
df

,YEAR,MONTH,LATITUDE,LONGITUDE,LOCATION_NAME,COUNTRY,EVENT_VALIDITY,EQ_MAGNITUDE,EQ_DEPTH,TS_INTENSITY,DAMAGE_TOTAL_DESCRIPTION,DEATHS_TOTAL_DESCRIPTION
587,1907,9.0,59.500,-135.500,"SKAGWAY, AK",USA,Probable Tsunami,5.5,33.0,0.0,Limited (<$1 million),NaN
591,1922,1.0,-7.111,143.530,BISMARCK SEA,PAPUA NEW GUINEA,Probable Tsunami,6.9,33.0,NaN,Limited (<$1 million),NaN
592,1901,3.0,36.000,-120.500,"MONTEREY BAY, N. CALIFORNIA",USA,Probable Tsunami,6.7,NaN,NaN,NaN,NaN
608,1915,8.0,38.500,20.700,IONIAN SEA,GREECE,Probable Tsunami,6.7,14.0,3.0,Severe (~>$5 to $24 million),NaN
611,1901,6.0,39.000,143.000,"IWATE, JAPAN",JAPAN,Definite Tsunami,6.0,33.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2252,2020,5.0,34.205,25.712,CRETE,GREECE,Definite Tsunami,6.6,17.0,NaN,NaN,NaN
2254,2020,7.0,55.030,-158.522,"SHUMAGIN ISLANDS, AK",USA,Definite Tsunami,7.8,28.0,NaN,NaN,NaN
2255,2020,6.0,-33.294,-177.838,"S OF RAOUL ISLAND, KERMADEC ISLANDS",NEW ZEALAND,Definite Tsunami,7.4,10.0,NaN,NaN,NaN
2256,2013,4.0,18.081,-102.182,MEXICO,MEXICO,Probable Tsunami,6.0,30.0,NaN,NaN,NaN
2258,2020,6.0,16.029,-95.901,OFF OF COAST OF OAXACA,MEXICO,Definite Tsunami,7.4,26.0,NaN,Extreme (~$25 million or more),Few (~1 to 50 people)

In [10]:
df_to_csv = df.to_csv(r"C:\Users\Nadia\Desktop\UNI\3179\current sem\Assignment 2\Natural Disasters Datasets\cleaned\tsunami_dataset_cleaned.csv", index = False)